* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 100vw;
  max-width: 100%;
  background-color: #1f1f1f;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 93px;
  width: 100vw;
  background-color: #1f1f1f;
  z-index: 2;
}

.logo {
  width: 100px;
  color: #86b393;
  padding: 20px 0 20px 64px;
  font-size: 30px;
  cursor: pointer;
}

.search-box {
  padding: 83px;
}

input {
  color: #86b393;
  width: 250px;
  border: 1px solid rgba(129, 151, 164, 0.5);
  background-color: rgba(15, 23, 30, 0.2);
  font-size: 17px;
  line-height: 24px;
  padding: 7px 0;
  box-shadow: none;
  margin: 0;
  height: auto;
}

.cerca {
  background-color: #86b393;
  border: 0;
  color: #282626;
  font-size: 17px;
  padding: 10px 0;
  width: 70px;
  cursor: pointer;
}

.movie__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282626;
  padding-top: 110px;
  width: 100vw;
  max-width: 100%;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 330px;
  z-index: 1;
  height: 100%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: 0.15s ease-in-out;
  overflow: hidden;
}

.movie:hover {
  transform: scale(1.05);
}

.cover {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.cover:hover {
  opacity: 0.07;
  z-index: 1;
}

.cover img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c241f;
  font-size: 14px;
  color: #f2fff6;
  width: 330px;
  height: 100%;
  top: 0;
  position: absolute;
  padding-left: 18px;
  padding-right: 18px;
  z-index: 0;
}

.titolo {
  color: #f2fff6;
}

.voto svg {
  color: #86b393;
}

.language {
  width: 25px;
}
